*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #D9D9D9;
    color: #494949;
}

body {
    margin-bottom: 3.125rem;
}

html {
    /* font-size: 20px; */
}

/* Typography */
h1 {
    font-size: 1.5rem;
    margin: 1.25rem, 0, 0, 0;
}

h2 {
    font-size: 1.25rem;
    margin: 0;
    font-weight: 500;
}

h3 {
    font-size: 1rem;
    margin: 0;
}

p {
    font-size: 0.875rem;
    margin: 0.95rem 0 0 0;
}

h1, 
h2, 
h3, 
p, 
button {
    line-height: 1.5em;
}

button {
    font-size: 1.25rem;
    border: none;
    font-family: 'Montserrat', sans-serif;
}


/* Layout */

.container {
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 20px 20px;
    padding: 0 1.25rem 1.875rem;
    margin-bottom: 1.25rem;
    margin-top: -1rem;
}

.container,
.tab {
    background-color: white;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

/* tab */
.tab {
    margin-top: 2.5rem;
    border-radius: 20px;
}

.tab-btn {
    padding: 1.25rem;
    width: 100%;
    border-radius: inherit;
    background: inherit;
}

.tab-btn img {
    margin-left: 6rem;
    width: 0.8rem;
}

/* description */
main {
    padding: 1.875rem 0;
    border-bottom: #D9D9D9 1px solid;
}
.main-img {
    max-width: 100%;
}

/* characteristics */
.characteristics {
    padding: 1.875rem 0;
}

.chars-list {
    margin: 1rem 0 0;
    padding: 0 0 0 1.25rem;
}

.chars-item:not(:last-child) {
    margin: 0 0 1rem;
}

/* form */
.add-form {
    padding: 1.875rem 0 0;
}

.add-input {
    outline: none;
    border: 1px solid #D9D9D9;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    line-height: 1.5em;
}

.add-input:focus {
    border: solid 1px #3922C5;
}

.add-input,
.add-btn {
    width: 100%;
    margin-top: 0.95rem;
}

.confirm-btns {
    display: flex;
    justify-content: space-between;
    padding: 1.875rem 1.25rem;
    margin-top: 1.875rem;
    border-radius: 1.25rem;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(12, 12, 12, 0.1);
}

.ok-btn,
.cancel-btn {
    width: 45%;
}

.ok-btn,
.cancel-btn,
.add-input,
.add-btn {
    padding: 14px 24px;
    border-radius: 1rem;
}

.ok-btn,
.add-btn {
    background-color: #3922C5;
    color: #FFFFFF;
}

.ok-btn,
.add-btn,
.cancel-btn {
    font-size: 0.875rem;
}

.hidden {
    display: none;
}

.rotated {
    transform: rotate(180deg)
}

.btn-active {
    color: #3922C5;
    background-color: #FFFFFF;
}


/* media */
@media (max-width: 400px) {
    .tab-btn img {
        display: block;
        margin: 0.75rem auto;
    }
}

@media (min-width: 846px){

    /* typography */
    h1 {
        font-size: 1.625rem;
    }

    h2 {
        font-size: 1.375rem;
    }

    h3 {
        font-size: 1.125rem;
    }

    p {
        font-size: 1rem;
    }

    .ok-btn,
    .add-btn,
    .cancel-btn {
        font-size: 1rem;
        line-height: 1.5em;
    }

    /* layout */
    .container {
        padding: 0;
    }

    .tab {
        padding: 0 0 0 0;
        max-width: 267px;
    }

    main {
        display: flex;
        overflow: hidden;
        gap: 4.375rem;
        padding: 2.5rem 2.5rem 2.5rem 0;
    }

    .main-img {
        flex-basis: 460px;   
        max-width: 460px;
        margin: 0 0 0 -5rem; 
    }

    .item-desc {
        width: 50vw;
        max-width: 500px;
    }

    .characteristics {
        padding: 2.5rem 0 0;
        margin: 0 3.75rem 2.5rem;
    }

    .characteristics ol {
        columns: 2;
    }

    .add-form {
        padding: 2.5rem 0 0;
    }

    .add-input {
        margin: 1.25rem 1.5rem 0 0;
        width: 40vw;
    }

    .add-btn {
        width: 8rem;
    }

    .confirm-btns {
        margin: 2.5rem 0 0;
        justify-content: left; 
    }

    .ok-btn,
    .cancel-btn {
        width: 8rem;
        margin: 0 1.5rem 0 0;
    }

    .caret {
        display: none;
    }

}



